@font-face{
  font-family: arial;
  src: url('../fonts/arial.ttf')
}

@font-face{
  font-family: georgia;
  src: url('../fonts/Georgia.ttf')
}

.js-plotly-plot .plotly .cursor-ew-resize {
cursor: crosshair;
}

/*g.ytick > text{
  text-decoration: underline;
  /*text-underline-offset: 6px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}*/

g.xtick:last-child {
  fill: rgb(186 152 111)!important;
}

g.xtick > text {
  fill: inherit!important;
}

body {
  margin: 0px;
}

.key-fig-element-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #FCF7F1;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1pt solid #CFD4D8;
  border-bottom: 1pt solid #CFD4D8;
}

.key-fig-element {
  display: flex;
}

.key-fig {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: georgia;
  font-weight: 400;
  color: #2D2D37;
  padding-left: 6px;
  flex-basis: 24%;
}

.key-fig-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
  font-family: arial;
}
.key-fig-value {
  font-size: 42px;
  margin-bottom: 20px;
}


@media screen and (max-width: 930px) {
 .key-fig {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: georgia;
  font-weight: 400;
  color: #2D2D37;
  flex-basis: 33%;
} 
}


@media screen and (max-width: 400px) {
 .key-fig {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: georgia;
  font-weight: 400;
  color: #2D2D37;
  flex-basis: 100%;
} 

.key-fig-value {
  font-size: 28px;
  margin-bottom: 12px;
}

.key-fig-title {
  margin-bottom: 12px;
  font-size: 18px;
  text-align: left;
  font-family: arial;
}
}


.key-fig-value-container {
  height: 60px;
  width: 180px;
/*  background-color: #BA986F;
  border-radius: 50%;*/
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  font-size: 42px;
  color: #2D2D37;
/*  color:  #F7F7F7;*/
}

.key-fig-legend {
  font-weight: 400;
  font-size: 14px;
  margin-top: 30px;
  font-family: arial;
}


.textoutput {
  font-weight: 400;
  font-size: 1em;
  padding: 12px;
  font-family: arial;
  background: #FCF7F1;
  color: #2D2D37;
  
}

/*@media screen and (max-width: 800px) {
    .textoutput {
        font-weight: 400;
        font-size: 3vw;
        padding: 8px;
        font-family: arial;
        background: #FCF7F1;
        color: #2D2D37;

}*/

.title-element-container{
  background: #FCF7F1;
  padding: 12px;  
  border-bottom: 1pt solid #CFD4D8;
  display: flex;
  height: 54px;
  justify-content:space-between;
  align-items: center
}

.title-element-title{
  font-family: georgia;
  font-size: 26px;
}

@media screen and (max-width: 580px) {
 .title-element-title{
  font-family: georgia;
  font-size: 22px;
} 
}

@media screen and (max-width: 410px) {
 .title-element-title{
  font-family: georgia;
  font-size: 18px;
} 
}

.title-element-date{
  font-family: arial;
}