/*@font-face{
  font-family: arial;
  src: url('../fonts/arial.ttf')
}

@font-face{
  font-family: georgia;
  src: url('../fonts/Georgia.ttf')
}

.js-plotly-plot .plotly .cursor-ew-resize {
cursor: crosshair;
}

/*g.ytick > text{
  text-decoration: underline;
  /*text-underline-offset: 6px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

g.xtick:last-child {
  fill: rgb(186 152 111)!important;
}

g.xtick > text {
  fill: inherit!important;
}
*/