.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/ennustedata/*.xlsx
inst/ennustedata_xlsx/*.xlsx
inst/doc
/doc/
/Meta/
robottiperhe-8e89c14845c7.json
inst/ennustekuvat/*_artefacts/
inst/ennustekuvat/*.html

docs
